body {
  font-family: sans-serif;
  margin: 5ex 10ex;
}

tt, pre {
  font-family: WebKitWorkaround, monospace;
}

#content {
  float: left;
  max-width: 65ex;
  margin-right: 5ex;
}

#sidebar {
  float: left;
  max-width: 20ex;
}

h1 {
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 100%;
  margin-bottom: 0;
}
